<!DOCTYPE html>
<html>
<head>
	<title>句会</title>
	<section class="vertical-rl"> <!-- クラス名これでOK? -->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</section>
	<!-- <link rel="stylesheet" href="stylesheet.css"> progateのやりかた-->
</head>


<body>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

	<header class="keycolor">
				<ul>
					<li>
						<a href="/" title="トップページへ">ＨＯＭＥ</a>
					</li>

						<% if user_signed_in? %>
								<div class="login">
												<li>
													NO：  <%= current_user.id %> でログイン中
												</li>
												<li>
													<a href="/users/<%= current_user.id %>">マイページ</a>
												</li>
												<li>
													<%= link_to "ログアウト" , destroy_user_session_path, method: :delete %>
												</li>
												<li>
													<a href="/event" title="句会" class="句会(イベント)">句会</a>
												</li>
								</div>

						<% else %>
									<div class="login2">
										<li>
											<%= link_to "ログイン", new_user_session_path, class: 'post' %>
										</li>
										<li>
											<%= link_to "新規登録", new_user_registration_path, class: 'post' %>
										<li>
									</div>
						<% end %>
					</ul>
  </header>

	<%= yield %>


		<footer>
      <p>
        Copyright      2017.
      </p>
    </footer>

  </body>
</html>
